.active-developers-row {
    height: 34%;
    overflow-y: auto;
}
.removed-developers-row {
    height: 35%;
    overflow-y: auto;
}
.card-title {
    height: 9%;
}
.root-developers-list-containter {
    width: 90%;
    height: 100%;
}
.delimiter {
    height: 2px;
}
