.active-developers-row {
    height: 34%;
    overflow-y: auto;
    margin-right: 2%;
}
.removed-developers-row {
    height: 35%;
    overflow-y: auto;
    margin-right: 2%;
}
.card-title {
    height: 9%;
}

.root-developers-list-containter {
    width: 90%;
}
