.commit-form {
    height: 100%;
}
.list-groups-row {
    height: 70%;
    width: 100%;
}
.parents-list {
    max-height: 85px;
    overflow-y: auto;
    padding-right: 0 !important;
    margin-right: 2%;
}
.non-parents-list {
    max-height: 85px;
    overflow-y: auto;
    padding-right: 0 !important;
    margin-left: 2%;
}
.parents-group {
    height: 25%;
}
.button-div {
    width: 100%;
    height: 10%;
    margin-left: 0 !important;
}
.progress-bar {
    width: 100%;
    margin-top: 0 !important;
}
.list-group-item {
    text-align: center !important;
    vertical-align: top !important;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    line-height: 3px;
}
.progress-div {
    margin-left: 0% !important;

}